/* '*' for default globally,tag_name for particular tag,'.+class_name'for class,'#'for id /unique_id */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color:aliceblue
}
/*-----header section------ */
#header{
    width:100%; 
    /* vh = viewport height */
    /* 1vh = 1% of the screen height */
    height:100vh;
    background-image:url(images/bg.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 8px 20px /* top-bottom left-right */
    
}
nav{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 70px;
    height:60px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: relative;

}
nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    background-color:blue;
    position:absolute;
    left:0;
    bottom: -6px;
    transition:0.6s;
}
nav ul li a:hover::after{
    width:100%;
}

.header_text{
    margin-top:50px;
    font-size: 30px;
}
.header_text p {
    margin-bottom: 20px;   /* space between paragraphs */
}
.header_text .name{
    color: blue;
}
.header_text .typing{
    margin-top: 40px;
    color: rgb(216, 6, 73);
}
/*Typed.js automatically creats <span class="typed-cursor">|</span>
 */
.typed-cursor {
    color: rgb(255, 5, 22);        /* cursor color */
    font-size: 30px;      /* same as text */
    animation: blink 1s infinite;
}
@keyframes blink {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

/* ------about section------ */
#about{
    padding: 80px 0;
    background-color: rgb(19, 25, 50);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    padding-right:20px;
}
.about-col-1 img{
    width:100%;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 64%;
}
.subtitle{
    color: rgb(4, 234, 234);
    font-size: 60px;
    font-weight: 600;
    
}
.about-me{
    color: rgb(220, 230, 230);
    font-weight: 500;
    margin-top: 20px;
    text-align: justify;
}
.tab-sesion{
    display:flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    position: relative; 
}
.tab-links::after{
    content: '';
    width:0;
    height:3px;
    background:blueviolet;
    position:absolute;
    left:0;
    transition: 0.5s;
    bottom:-8px;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color: rgb(13, 230, 230);
    font-size: 15px;
}
.tab-content{
    display:none;
} 
.tab-content.active-tab{
    display:block;
    font-size: 14px;
}
/* ------services section------ */
#services{
    padding: 30px 0;
    background-color:  rgb(19, 25, 50);
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 12px;
    border-radius: 20px;
    transition: background-color 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 40px;
    margin-bottom: 30px;
}
.services-list div h2{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background-color:#ff004f;
    transform: translateY(-10px);
}
/*----contact section------ */
#contact{
   background-color:  rgb(19, 25, 50);
}
.contact-left{
    flex-basis:35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top:30px;
}
.contact-left p i{
    color: #ff005d;
    margin-right: 12px;
    font-size: 18px;
    margin-bottom: 5px;
}
.contact-left a{
    text-decoration: none;
    color: white;
}
.social-icon {
    display: flex;
    gap: 20px;          /* controls space between icons */
    margin-top: 30px;  /* move icons down */
}

.social-icon a {
    text-decoration: none;
    color: #ababab;
    font-size: 20px;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icon a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}
.btn {
    display: inline-block;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #ff004f;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.contact-right contact-form{
    width: 100%;
}

.contact-right form input, .contact-right form textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}
.copyright{
    text-align: center;
    width: 100%;
    background-color: #ff005131;
    font-weight: 400;

}
.copyright p i{
    color: #ff004f;
}

/* ----------CSS MEDIA QUERIES--------- */
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px) {
    #header{
        background-image: url(images/phone-background.png);
    
       
    }
    .header_text{
        margin-top: 50%;
        font-size: 18px;
    }
    nav .fa-solid{
    display: block;
    font-size: 25px;
    }
    nav ul{
        background-color: #ff004f;
        position: fixed;
        top:0;
        right:-120px;
        width:120px;
        height:100vh;
        padding-top: 50px;
        /* z-index: 2; */
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top:25px;
        left:25px;
        cursor: pointer;
    }
    .about-col-1, .about-col-2 .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-left{
        flex-basis: 60%;
    }
    .contact-left h1{
        font-size: 26px;
    }
    .contact-left a{
        
        display: inline-block;
    }
    .social-icon{
        margin-bottom: 20px;
    }
        .copyright p{
            font-size: 14px;
        }
    }